@layer base {
    .neutral {
--primary: oklch(0.56 0.00 0);
  --primary-foreground: oklch(1 0 0);
}
.stone {
--primary: oklch(0.55 0.01 58);
  --primary-foreground: oklch(1 0 0);
}
.zinc {
--primary: oklch(0.55 0.01 286);
  --primary-foreground: oklch(1 0 0);
}
.slate {
--primary: oklch(0.55 0.04 257);
  --primary-foreground: oklch(1 0 0);
}
.gray {
--primary: oklch(0.55 0.02 264);
  --primary-foreground: oklch(1 0 0);
}
.red {
--primary: oklch(0.64 0.21 25);
  --primary-foreground: oklch(1 0 0);
}
.orange {
--primary: oklch(0.70 0.19 48);
  --primary-foreground: oklch(1 0 0);
}
.amber {
--primary: oklch(0.77 0.16 70);
  --primary-foreground: oklch(1 0 0);
}
.yellow {
--primary: oklch(0.80 0.16 86);
  --primary-foreground: oklch(1 0 0);
}
.lime {
--primary: oklch(0.77 0.20 131);
  --primary-foreground: oklch(1 0 0);
}
.green {
--primary: oklch(0.72 0.19 150);
  --primary-foreground: oklch(1 0 0);
}
.emerald {
--primary: oklch(0.70 0.15 162);
  --primary-foreground: oklch(1 0 0);
}
.teal {
--primary: oklch(0.70 0.12 183);
  --primary-foreground: oklch(1 0 0);
}
.cyan {
--primary: oklch(0.71 0.13 215);
  --primary-foreground: oklch(1 0 0);
}
.sky {
--primary: oklch(0.68 0.15 237);
  --primary-foreground: oklch(1 0 0);
}
.blue {
--primary: oklch(0.62 0.19 260);
  --primary-foreground: oklch(1 0 0);
}
.indigo {
--primary: oklch(0.59 0.20 277);
  --primary-foreground: oklch(1 0 0);
}
.violet {
--primary: oklch(0.61 0.22 293);
  --primary-foreground: oklch(1 0 0);
}
.purple {
--primary: oklch(0.63 0.23 304);
  --primary-foreground: oklch(1 0 0);
}
.fuchsia {
--primary: oklch(0.67 0.26 322);
  --primary-foreground: oklch(1 0 0);
}
.pink {
--primary: oklch(0.66 0.21 354);
  --primary-foreground: oklch(1 0 0);
}
.rose {
--primary: oklch(0.65 0.22 16);
  --primary-foreground: oklch(1 0 0);
}

}
